<form #formProducto="ngForm" (ngSubmit)="modificarActor(actor)" id="form-producto">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="actor.nombre" [ngModelOptions]="{standalone: true}" id="nombre" name="nombre" placeholder="Nombre">
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" [(ngModel)]="actor.apellido" [ngModelOptions]="{standalone: true}" id="apellido" name="apellido" placeholder="Apellido">
    </div>
    <div class="form-group">
        <label for="sexo">Sexo</label>
        <input type="text" class="form-control" [(ngModel)]="actor.sexo" [ngModelOptions]="{standalone: true}" id="sexo" name="sexo" placeholder="Sexo">
    </div>
    <div class="form-group">
        <label for="sexo">Pais</label>
        <input type="text" class="form-control" [(ngModel)]="actor.paisOrigen" [ngModelOptions]="{standalone: true}" id="pais" name="pais" value="hola" placeholder="Pais">
    </div>
    <div class="form-group">
        <label for="fecha">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="fecha" placeholder="Fecha de estreno" name="fecha" [(ngModel)]="actor.fechanacimiento" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
