<div class="container-fluid">
  <table class="table table-bordered">
      <thead>
          <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Bandera</th>
              <th scope="col">Detalle</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pais of paises">
              <td> {{ pais.name }} </td>
              <td> <img src="{{ pais.flag }} "></td>
              <td> <button type="button" class="btn btn-success" (click)="enviarPais(pais)"><i class="fa fa-eye"></i></button> </td>
          </tr>
      </tbody>
  </table>
</div>
