<div class="card" style="width: 18rem;">
    <img src="{{ actor.foto }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Detalle Actor</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre: {{ actor.nombre }} </li>
        <li class="list-group-item">Apellido: {{ actor.apellido }} </li>
        <li class="list-group-item">Sexo: {{ actor.sexo }} </li>
        <li class="list-group-item">Nacimiento: {{ actor.fechanacimiento }} </li>
        <li class="list-group-item">Pais: {{ actor.paisOrigen }} </li>
    </ul>
</div>